.box {
    height: 500px;
    width: 100px;
    border: solid white; 
    border-radius: 0;
    color: transparent;
    padding: 20px;
}
.box:hover {
    color: white;
}
body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

button {
    height: 60px;
    width: 140px;
    border: white solid;
    border-radius: 20px;
    background-color: transparent;
    color: white;
}

